<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>fy02VaNiVfLi1gIG7UtHp4U6yrMzUQgdlQpZl8qpoE+/ZbMGXvvCH47vmambGZYqn2sg5cBO3rvBqBPbDUFv4ZweGcSdut5BgU2WaqwLUOhOe8r/AA7NQytPThCNmch8LYJ5/Qd7xaMwMSpvcE0wWGyzJmRE1w0ITRvBtbPZnNZu9nRUNWl2tyib4rT+3bS6lkvPrDj3lkB3M/nbFBppGnj4Xig+LDiLhFK7emgr07a3NO4zXjJfQA6Rvp+I5lw1axqhS+6vbDODEtIP57/YXyysjEq9e86iyOXmrT+86hxr7hgqK3YCi+uwYGqPcrZ95XH5REMXSuTOiZfXYUBMeQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>sCfCbqh3PP1zktpg/ilhmGKDWBj3yUmOdV2EmsV3ZJACAEmvMANAq3Bbc/oiQhcvdlp4rZ5H+P0c/mlbLWP35M/YIV8Inpl4t9vBDjCDtSYKF441SnRPpM774jjlIjAUGP9F4YWa8ot1683dgNSlJ34WonDw0CELrmNm91WYsKvgK7EmOIx4VKxPYkPuFLQdl2gJvh+gTsoIDbquP5xG35Mn4rB87/FJMYFIIc0hj7rHuCwYW/Ws/3rqsiKDNqQ1FI8OjwVZOMfrOviMtFJkjeCXjOnt0DpEJ5YAdIIzcc1Y22NGGWmKLfSZoTlhxLcNK7mLQ3RIRysydKzD9r1F+sy5yT5D+z0Ibmn4qvV4wGd1svBN17s91zYG8qsumhbq+9IxvvREcYckro/tnAo9QkC9hkQi9przA0pGgDgpV4wgU21gLDLfSSDOSLW53GYB8Kc2tRkSZoSId2/rY4bq7OkpJDf4kFGw0JsN3sFcegu2fOosWxuCoOBB0Y8EzBLF+IXrSbbZFJYPSl8pGIpQmDBEphdLybpG1En48GEhqfmxQlmrK3mxMDgQ/mnYjZCYmKRqsF1AHYSVrHsWupwzLJS+ckTkmzSBzaZt10Tr2G44UjTVgW3kMMGC2Ur36LOKKEwl+n8aY+Xn6rVOeurICNeyCzKEYkkQHiKex/8yROyxnnByuKGrllZyijAo+JMr</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>